
<!--<div class="container my-5">-->
<!--    <h1 class="text-center mb-4">Billify</h1>-->
<!--    <div class="card shadow-sm p-4">-->
<!--        <form id="date-form" class="needs-validation" novalidate>-->

<!--        </form>-->
<!--    </div>-->
<!--    <div id="link-container" class="text-center mt-4"></div>-->
<!--</div>-->



{% from 'bootstrap5/form.html' import render_form %}
{% include "header.html" %}

<div class="container my-5">
    <h1 class="text-center mb-4">Welcome to Billify</h1>
    <div class="card form-container shadow-lg p-4 rounded-3">
        <form id="date-form" class="needs-validation" novalidate>
            {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </form>
    </div>
    <div id="link-container" class="text-center mt-4"></div>
</div>

{% include "footer.html" %}
